html, body, .stage, .ring, .img {
    width:100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select:none;
  }
  
  html, body, .stage {
    overflow:hidden;
    background:#000;
    
  }
  
  div, svg {
    position: absolute;
  }
  
  .container {
    perspective: 2000px;
    width: 300px;
    height: 400px;  
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
  }
